---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/v2/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1737-Cz+QVF+3Sa8lhb9VUg9AEgKremg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 6-13427408-13426318 pNNN RT(1618929419755 75) q(0 0 0 -1) r(4 4) U16
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6066ec6d869ebf6342607234","external_id":"TEST001","user_id":"60633cdb755efa40780d1307","status":"EXPIRED","merchant_name":"yurichandra.me","merchant_profile_picture_url":"https://du8nwjtfkinx.cloudfront.net/xendit.png","amount":20000,"payer_email":"yurichandra@gmail.com","description":"Test","expiry_date":"2021-04-03T10:05:14.759Z","invoice_url":"https://checkout-staging.xendit.co/web/6066ec6d869ebf6342607234","available_banks":[{"bank_code":"MANDIRI","collection_type":"POOL","bank_account_number":"8860812645361","transfer_amount":20000,"bank_branch":"Virtual
        Account","account_holder_name":"YURICHANDRA.ME","identity_amount":0},{"bank_code":"BRI","collection_type":"POOL","bank_account_number":"2621533182015","transfer_amount":20000,"bank_branch":"Virtual
        Account","account_holder_name":"YURICHANDRA.ME","identity_amount":0},{"bank_code":"BNI","collection_type":"POOL","bank_account_number":"880868708687","transfer_amount":20000,"bank_branch":"Virtual
        Account","account_holder_name":"YURICHANDRA.ME","identity_amount":0},{"bank_code":"PERMATA","collection_type":"POOL","bank_account_number":"821477909793","transfer_amount":20000,"bank_branch":"Virtual
        Account","account_holder_name":"YURICHANDRA.ME","identity_amount":0},{"bank_code":"BCA","collection_type":"POOL","bank_account_number":"1076648413885","transfer_amount":20000,"bank_branch":"Virtual
        Account","account_holder_name":"YURICHANDRA.ME","identity_amount":0}],"available_retail_outlets":[{"retail_outlet_name":"ALFAMART","payment_code":"TEST174855","transfer_amount":20000},{"retail_outlet_name":"INDOMARET","payment_code":"TEST100811","transfer_amount":20000}],"available_ewallets":[{"ewallet_type":"OVO"},{"ewallet_type":"DANA"},{"ewallet_type":"SHOPEEPAY"},{"ewallet_type":"LINKAJA"}],"should_exclude_credit_card":false,"should_send_email":false,"created":"2021-04-02T10:05:33.940Z","updated":"2021-04-03T10:05:16.319Z","currency":"IDR"},{"id":"6066e066869ebf63426071e4","external_id":"INV001","user_id":"60633cdb755efa40780d1307","payment_method":"EWALLET","status":"SETTLED","merchant_name":"yurichandra.me","merchant_profile_picture_url":"https://du8nwjtfkinx.cloudfront.net/xendit.png","amount":10000,"paid_amount":10000,"paid_at":"2021-04-02T10:02:14.180Z","payer_email":"yurichandra@gmail.com","description":"test","expiry_date":"2021-04-03T09:14:14.024Z","invoice_url":"https://checkout-staging.xendit.co/web/6066e066869ebf63426071e4","available_banks":[{"bank_code":"MANDIRI","collection_type":"POOL","bank_account_number":"8860833504550","transfer_amount":10000,"bank_branch":"Virtual
        Account","account_holder_name":"YURICHANDRA.ME","identity_amount":0},{"bank_code":"BRI","collection_type":"POOL","bank_account_number[...]
